@{
    ViewData["Title"] = "登入/註冊";
}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
}

<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnLogin" autocomplete="off" checked>
    <label class="btn btn-outline-success" for="btnLogin">登入</label>
    <input type="radio" class="btn-check" name="btnradio" id="btnSignup" autocomplete="off">
    <label class="btn btn-outline-success" for="btnSignup">註冊</label>
</div>

@* 登入表單 *@
<div id="Login" class="form-container">
    <h3 class="text-success p-3"><strong>登入會員</strong></h3>
    <form novalidate>
        <div class="p-3">
            <label class="text-success">電子郵件</label>
            <input type="text" name="Email" id="LoginEmail" placeholder="請輸入帳號" required />
        </div>
        <div class="p-3">
            <label class="text-success">密碼</label>
            <input type="password" name="Password" id="LoginPsw" placeholder="請輸入密碼" required />
        </div>
        <div class="p-3">
            <button class="btn btn-success" type="button" id="LoginBtn" disabled>登入</button>
        </div>
    </form>
</div>

@* 註冊表單 *@
<div id="Signup" class="form-container d-none">
    <h3 class="text-success p-3"><strong>註冊會員</strong></h3>
    <form>
        <div class="p-3">
            <label class="text-success">使用者名稱</label>
            <input type="text" name="name" placeholder="請輸入名稱" id="name" required />
            <div id="nameWarn" class="text-danger">名稱未填寫</div>
        </div>
        <div class="p-3">
            <label class="text-success">電子郵件</label>
            <input type="email" name="SignupAccount" placeholder="請輸入電子郵件" id="SignupEmail" required />
            <div id="emailWarn" class="text-danger"></div>
        </div>
        <div class="p-3">
            <label class="text-success">密碼</label>
            <input type="password" name="SignupPassword" placeholder="請輸入密碼" id="SignupPsw" required />
            <div id="passwordWarn" class="text-danger"></div>
        </div>
        <div class="p-3">
            <label class="text-success">確認密碼</label>
            <input type="password" name="SignupPasswordConfirmed" placeholder="請輸入確認密碼" id="CheckPsw" required />
            <div id="pswWarn" class="text-danger"></div>
        </div>
        <div class="p-3">
            <button class="btn btn-success" type="button" id="SignupBtn" disabled>註冊</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $(".text-danger").hide();

            $("#btnLogin").on("click", () => {
                $("#Signup").addClass("d-none");
                $("#Login").removeClass("d-none");
            });

            $("#btnSignup").on("click", () => {
                $("#Login").addClass("d-none");
                $("#Signup").removeClass("d-none");
            });

            //註冊
            let emailValid = false;
            const passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^\w\s]).{8,15}$/;
            const TOKEN_KEY = "authToken";

            //token設置
            function setToken(token){
                localStorage.setItem(TOKEN_KEY,token);
            }

            //取token資料
            function getToken(){
                return localStorage.getItem(TOKEN_KEY);
            }

            //統一所有api呼叫且如果有jwt會自動帶
            async function authFetch(url, options={}){
                const token = getToken();
                const headers = {
                    ...(options.headers || {}),
                    "Content-Type": "application/json",
                    ...(token?{"Authorization":`Bearer ${token}`} : {} )
                };
                const res = await fetch(url,{...options,headers});
                return res;
            }

            //登入函式
            async function login(email,password){
                const res = await authFetch("/api/members/login",{
                    method:"post",
                    body:JSON.stringify({email,password})
                });

                const data = await res.json();

                if(!res.ok){
                    throw new Error( data.message||"登入失敗" )
                }
                 setToken(data.token);
                 return data;
            }

            //註冊函式
            async function signup(name,email,password){
                const res = await authFetch("/api/members/signup",{
                    method:"post",
                    body: JSON.stringify({
                        UserName:name,
                        email,
                        password
                    })
                });

                const data = await res.json();
                if(!res.ok){
                    throw new Error(data.message || "註冊失敗");
                }
                return data;
            }

            function SignupFormValid() {
                const name = $("#name").val().trim();
                const SignupEmail = $("#SignupEmail").val().trim();
                const SignupPsw = $("#SignupPsw").val().trim();
                const CheckPsw = $("#CheckPsw").val().trim();

                const passwordCheck = passwordPattern.test(SignupPsw);
                const allFilled = name && SignupEmail && SignupPsw && CheckPsw;
                const pswSame = SignupPsw == CheckPsw;
                const valid = passwordCheck && allFilled && pswSame && emailValid;

                $("#SignupBtn").prop("disabled", !valid);
            }

            function CheckEmail(email) {
                $.ajax({
                    type: "GET",
                    url: "/api/members/check-email",
                    data: { email },
                    success: (res) => {
                        if (res.exist) {
                            $("#emailWarn").text("電子郵件已註冊").show();
                            emailValid = false;
                        } else {
                            $("#emailWarn").hide();
                            emailValid = true;
                        }
                        SignupFormValid();
                    },
                    error: () => {
                    $("#emailWarn").text("無法檢查電子郵件，請稍後再試").show();
                    emailValid = false;
        }

                });
            }

            $("#name, #SignupEmail, #SignupPsw, #CheckPsw").on("input", () => {
                $(".text-danger").hide();
                SignupFormValid();
            });

            $("#name,#SignupPsw, #CheckPsw").on("blur", (e) => {
                const id = e.target.id;
                const name = $("#name").val().trim();
                const psw = $("#SignupPsw").val().trim();
                const checkpsw = $("#CheckPsw").val().trim();

                if (id === "name") {
                    if (!name) { $("#nameWarn").show(); } else { $("#nameWarn").hide(); }
                }

                if (id === "SignupPsw") {
                    if (!psw) { $("#passwordWarn").text("密碼未填寫").show(); }
                    else if (!passwordPattern.test(psw)) { $("#passwordWarn").text("密碼長度未在8到15字元之間或未包含特殊字元、阿拉伯數字及大小寫英文字母").show(); }
                    else { $("#passwordWarn").hide(); }
                }

                if (id === "CheckPsw") {
                    if (!checkpsw) { $("#pswWarn").text("確認密碼未填寫").show(); }
                    else if (checkpsw != psw) { $("#pswWarn").text("密碼不一致").show(); }
                    else { $("#pswWarn").hide(); }
                }
                SignupFormValid();
            });

            $("#SignupEmail").on("blur", () => {
                const email = $("#SignupEmail").val().trim();
                const emailPattern = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;

                if (!email) { $("#emailWarn").text("電子郵件未填寫").show(); emailValid = false; return }
                else if (!emailPattern.test(email)) { $("#emailWarn").text("電子郵件格式不正確").show(); emailValid = false; return }
                else { $("#emailWarn").hide(); }
                CheckEmail(email);
            });

            $("#SignupBtn").on("click", async () => {
                const name = $("#name").val().trim();
                const SignupEmail = $("#SignupEmail").val().trim();
                const SignupPsw = $("#SignupPsw").val().trim();

                try{
                    await signup(name,SignupEmail,SignupPsw)
                    Swal.fire({title:"註冊成功",icon:"success"}).then(()=>{
                        $("#name,#SignupEmail,#SignupPsw,#CheckPsw").val("");
                        $(".text-danger").hide();
                        emailValid = false;

                        $("#SignupBtn").prop("disabled",true);
                        window.location.href = "/Member/Index"
                    });
                }
                catch(err){
                    Swal.fire({title:err.message||"註冊失敗",icon:"error"});
                }
            });

            //登入
            $("#LoginEmail,#LoginPsw").on("input",()=>{
                const email = $("#LoginEmail").val().trim();
                const psw = $("#LoginPsw").val().trim();

                if(email && psw){$("#LoginBtn").prop("disabled",false);}else{$("#LoginBtn").prop("disabled",true);}
            });
            $("#LoginBtn").on("click", async (e)=>{
                e.preventDefault();
                const email = $("#LoginEmail").val().trim();
                const psw = $("#LoginPsw").val().trim();

                try{
                    const result = await login(email,psw);
                    Swal.fire({
                        title: result.message || "登入成功",
                        icon:"success"
                    }).then(()=>{
                        $("#LoginEmail,#LoginPsw").val("");
                        $("#LoginBtn").prop("disabled",true);
                        window.location.href="/Product/Index";
                    });
                }
                catch (error){
                    Swal.fire({
                        title:"登入失敗",
                        text:error.message,
                        icon:"error"
                    });
                }
            });
        });
    </script>
}
